.hinhcptc{
    position: relative;
    width: 100%;
    margin-top: 0;
}
.btndk>a>button{
    width: 60%;
    height: 60px;
    background-color: #4CB050;
}
.btndk{
    text-align: center;
    margin-top: 5%;
}
.btndk>a>button>h1{
    color: white;
}
.btndk>a>button:hover{
    border: 2px solid yellow; 
    box-shadow: 0 0 100px yellow;
}
.textcptc{
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    position: absolute;
    background-color: white;
    transform: translate(5%, -45%);
    z-index: 1;
}
.textt>h1{
    color: #4CB050;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.textt>p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.textt{
    margin-top: 3%;
}
.page2{
    margin-top: 10%;
}
.space1{
    height: 80px;
    margin: 10% auto;
}
.btnbg{
    text-align: center;
    margin-top: 20%;
}
.btnbg>a>button{
    background-color: #4CB050;
    color: white;
    width: 40%;
    border-radius: 25px;
}
.btnbg>a>button:hover{
    border: 2px solid #4CB050; 
    box-shadow: 0 0 100px yellow;
}
.textgt1>div>h2,
.textgt>div>h2{
    color: #4CB050;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
.textgt1>div>h2,
.textgt>div>p{
    font-family:Arial, Helvetica, sans-serif;
   
}
.minh{
    margin: 0 auto;
}
@media (max-width: 480px) {
    .hinhcptc{
        margin-top: 40px;
        position: relative;
    }
    .btndk>a>button{
        width: 60%;
        height: 40px;
        background-color: #4CB050;
    }
    .btndk>a{
        text-align: center;
        margin-top: 5%;
    }
    .btndk>a>button>h1{
        font-size: 20px;
        color: white;
    }
    .textcptc{
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 25px;
        position: absolute;
        background-color: white;
        transform: translate(0%, 0%);
        z-index: 1;
    }
    .textt>h1{
        color: #4CB050;
        font-size: 30px;
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    .textt>p{
        text-align: left;
        font-size: 15px;
        olor: #4CB050;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        margin-bottom: 1%;
    }
    .textt{
        margin-top: 5%;
    }
    .page2{
        margin-top: 80%;
    }
    .space1{
        height: 100px;
        margin: 100% auto;
    }
    .btnbg{
        text-align: center;
        margin-top: 20%;
    }
    .btnbg>a>button{
        background-color: #4CB050;
        color: white;
        width: 80%;
        border-radius: 25px;
    }
    .textgt{
        margin-top: 40px;
    }
    .textgt1>div>h2,
    .textgt>div>h2{
        margin-top: 10px;
        color: #4CB050;
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
    }
    .textgt1>div>p,
    .textgt>div>p{
        font-family:Arial, Helvetica, sans-serif;
       
    }
    .page2{
        display: block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .textcptc{
        margin: 0 auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        position: absolute;
        background-color: white;
        transform: translate(0%, 0%);
        z-index: 1;
    }
    .minh{
        margin-top: 50%;
    }
}