.A{
    height: 800px;
    position: relative;
}
.banner_dv{
    position: relative;
    width:100%;
    border: 2px solid #ccc; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.text_bannerdv{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 1;
    color: black;
    text-align: center;
    font-weight: 700;
}
.cptc>h1{
    color: #4CB050;
    margin-top: 20%;
    margin-left: 20%;
}
.cptc{
    
    opacity: 0.8;
}
.cptc>p{
    margin-left: 21%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.btn1{
    background-color: #4CB050;
    color: white;
    width: 35%;
    height: 50px;
    text-align: center;
    float: right;
}
.btn2{
    border-color: black;
    background-color: white;
    color: black;
    width: 30%;
    height: 50px;
    text-align: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;   
}
.hinh_dv{
    position: absolute;
    transform: translate(-330%, 55%);
    z-index: 1;
    width: 25%;
    height: 45%;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.btn2::before{
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #4CB050;
    z-index: -1;
    transition: 0.4s;
    
}
.btn2:hover::before{
    left: 0;
    right: auto;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .A{
        display: none;
    }
    .banner_dv{
        margin-top: 35px;
        position: relative;
        width:100%;
        border: 2px solid #ccc; 
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .text_bannerdv{
        display: none;
    }
    .cptc>h1{
        font-size: 20px;
        color: #4CB050;
        margin-top: 20%;
        margin-left: 20%;
    }
    .cptc{
        
        opacity: 0.8;
    }
    .cptc>p{
        text-align: left;
        margin-left: 1%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        padding: 0 20px;
    }
    .btn1{
        background-color: #4CB050;
        color: white;
        width: 100%;
        height: 50px;
        text-align: center;
        float: left;
    }
    .btn2{
        border-color: black;
        background-color: white;
        color: black;
        width: 100%;
        height: 50px;
        text-align: center;
        position: relative;
        isolation: isolate;
        overflow: hidden;   
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .A{
        display: none;
    }
    .banner_dv{
        margin-top: 40px;
    }
    .cptc>h1{
        color: #4CB050;
        margin-top: 20%;
        margin-left:0%;
    }
    .cptc>p{
        padding: 0 30px;
        margin-left: 0%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
    .cptc{
        margin: 0 auto;
        text-align: center;
    }
    .btn1{
        width: 80%;
        height: 50px;
    }
    .btn2{
       
        width: 80%;
        height: 50px;
        float: left;  
    }
    .footer{
        margin-top: 50px;
    }
}