html,body{
    overflow-x: hidden;
}
.banner_tuyendung{
    margin-top: 5%;
    padding: 0px;
    position: relative;
   
}
.tuyendung{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Bóng mờ */
    margin: 0 auto;
    border-radius: 10px;
    height: 150px;
    position: absolute;
    background-color: white;
    transform: translate(4%, -30%);
    z-index: 1;
}
.tt_tuyendung{
    margin-top: 2%;
}
.tt_tuyendung>h4{
    margin: 0px;
}
.ungtuyen{
    margin-top: 1%;
}
.thongtin{
    width: 100%;
    height: 37px;
    border-radius: 8px;
}
.tt_tuyendung>button{
    background-color: #4CB050;
    width: 80%;
    height: 40px;
    border-radius: 25px;
    margin-top: 16%;
}
.chitiet{
    background-color: #4CB050;
    height: 120px;
    margin-top: 7%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vlnb>h1{
    margin-left: 10%;
    margin-top: 7%;
    float: right;
}
.btn_hot>button{
    width: 25%;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 0;

}
.cvh>h4{
    margin-top: 3%;
    margin-left: 5%;
}
.cvh>p{
    margin-top: 1%;
    margin-left: 5%;
}
.cvh{
    margin: 2% 10%;
    width: 80%;
    border: 1px solid #ccc;
    border-left: 5px solid  #4CB050;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: 130px;
}
.vlm{
    margin-left: 9%;
    margin-top: 25px;
}
.btnn{
    background-color: #4CB050;
    color: white;
    width: 12%;
    font-size: 20px; 
    border-radius: 20px;
    margin-left: 20%;
}
.cvh:hover {
    border-color: #4CB050;
    box-shadow: 0 0 5px #4CB050;
}

.modal {
    display: none; /* Ẩn modal ban đầu */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Canh giữa modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*mb*/
@media screen and (max-width: 480px) {
    .banner_tuyendung{
        margin-top: 20%;
        padding: 0px;
        position:static;
    }
    
    .bn_td{
        height: 150px;
    }
    .tuyendung{
        width: 95%;
        z-index: 0;
        margin-top: 10px;
        position: static;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
        border-radius: 10px;
        height: 500px;
        background-color: white;
        text-align: left;
        transform:none;
    }
    .tt_tuyendung>button{  
        text-align: center; 
        background-color: #4CB050;
        width: 80%;
        height: 40px;
        margin-left: 10%;
        border-radius: 25px;
        margin-top: 16%;
    }
    .vlnb>h1{
        margin-top: 7%;
        float: left;
        font-size: 30px;
    }
    .btn_hot>button{
        display: none;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 20%;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        height: 500px;
    }
    .btnn{
        display: none;
    }
    .chitiet>h1{
        font-size: 35px;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .banner_tuyendung{
        margin-top: 150px;
    }
    .chitiet{
        margin-top: 120px;
    }
    .xx>div>h4{
        font-size: 20px;
    }
    .banner_tuyendung{
        margin-top: 5%;
        padding: 0px;
        position: relative;
       
    }
    .tuyendung{
    
        background-color: white;
        transform: translate(0%, 0%);

    }
    .bn_td{
        margin-top: 70px;
    }
    .tt_tuyendung{
        padding: 5px;
    }
    .tt_tuyendung>input{
        width: 100%;
        margin-top: 7px;
    }
    .tt_tuyendung>button{
        width: 100%;
        height: 40px;
        border-radius: 25px;
        margin-top: 20%;
    }
    .vlnb>h1{
       margin-left: 0;
       float: left;
       margin-left: 35px;
    }
    .btn_hot>button{
        display: none;
    }
    .btnn{
        display: none;
    }
    .footer{
        margin-top: 40px;
    }
}
@media only screen and (width: 1024px) {
    .tt_tuyendung>h4{
       
        font-size: 1px;
    }
    .banner_tuyendung{
        margin-top: 14%;
        padding: 0px;
        position: relative;
       
    }
    .tuyendung{
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Bóng mờ */
        margin: 0 auto;
        border-radius: 10px;
        height: 150px;
        position: absolute;
        background-color: white;
        transform: translate(4%, -30%);
        z-index: 1;
    }
    .tt_tuyendung{
        margin-top: 2%;
    }
    
    .ungtuyen{
        margin-top: 1%;
    }
    .thongtin{
        width: 100%;
        height: 37px;
        border-radius: 8px;
    }
    .tt_tuyendung>button{
        background-color: #4CB050;
        width: 80%;
        height: 40px;
        border-radius: 25px;
        margin-top: 16%;
    }
    
}