
/*menu*/
*{
    margin: 0;
    padding: 0;
}
nav{
    
    background: #ffffff; 
    position: fixed; /* Menu cố định */
    width: 100%;
    top: 0; /* Đặt menu ở phía trên cùng */
    z-index: 2;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Bóng mờ */
}
nav ul{
    margin-right: 1%;
    float: right;
    display: flex;
}

.icon{
    margin-top: 1%;
}
.icon img{
    padding: 5px;
}
nav> ul li{

    list-style: none; 
    
}
nav> ul li a{
    
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

nav ul li:hover>a{
    opacity: .7;
    color: #4CB050;
}

nav li ul{
    font-size: 15px;
    display: none;
    min-width: 350px;
    position: absolute;
}
nav li>ul li{
    width: 75%;
    border: none;
    border-bottom: 1px solid #ccc;
    opacity: 7;
    background-color: #f5f5f5;
    text-align: left;
}


nav  li:hover > ul{
    display:  block;
    text-decoration: none;
}

.logo{
    margin-left: 10%;
    width: 10%;
    
}

/*banner*/
.banner {
    position: relative;
    margin-top: 2%;
}
.imgbanner {
    width: 100%;
    display: block;
}
.textbanner {
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Đảm bảo textbanner hiển thị phía trên imgbanner */
    color: black;
    text-align: left ; 
    width: 600px;
    height: 500px;
    background-color: white;
    border: 2px solid #ccc; /* Border mặc định */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Bóng mờ */
}

.textbanner>h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    margin-left: 15%;
    margin-top: 20%;
}
.textbanner>a2{
    margin-left: 15%;
}

.bt_lh{
    width: 38%;
    height: 9%;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 7%;
    background-color: #4CB050;
}

.btn_bd{
   margin-top: 20%;
   
}
.btn1_bd{
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    
}
.btn2_bd{
    width: 100%;
    height: auto;
    font-size: 27px;
    text-align: center;
    background-color: #4CB050;
}

/*    page3     */
.textpage3{
    margin-top: 5%
}
.textpage3>h1{
    text-align: center;
}
.textpage3>h2{
    text-align: center;
    color: #B3B3B3;
}

.imgpage3{
    size: 200px;
    margin-top: 4%;
    margin-bottom: 4%;
    
}
.hinh{
    position: relative;
}
.gt{
    width: 100%;
    position: absolute;
    transform: translate(7%, -150%);
    z-index: 1; 
    color: white;
}
.btn_gt{
    width: 50%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #4CB050;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Bóng mờ */
}

/*                   page4             */
.hd_page4{
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color:#4CB050;
    font-size: 200%;
    color: white;
    font-weight: 700;
}

.page4_2{
    margin: 5%;
}
.text_pg4{
    text-align: center;

}
.tx2{
    margin-top: 10%;
}
.btn_pg4{
    color: white;
    background-color: #4CB050;
    text-align: center;
    margin-top: 20px;
    width: 300px;
}
.text>h1{
    color: #4CB050;
}
.thongtin{
    margin-top: 4%;
    border-bottom: 4px solid #4CB050;
}
.thongtin3{
    margin-top: 4%;
}