ul{
    list-style: none;
}

li{
    float: left;
}

a{
    text-decoration: none;
    
}

.menu>ul{
    margin-top: 40px;
}
.menu>ul>li{
    padding: 20px 17px;
    
}
.logo{
    margin: 10px;

}
.menu>ul>li>a{
    font-size: 15px;
    color: #001d52;
    font-weight:bold ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.menu>ul>li:hover a{
    border-bottom: 3px solid brown;
    text-decoration: none;
}
.center{
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
.mtd10{
    margin: 10px 0px;
}


.footer{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(216, 211, 211);
    height: 400px;;
}

.menu1>ul{
    margin-top: 40px;
}
.menu1>ul>li{
    padding: 0px 17px;
    
}

.menu1>ul>li>a{
    font-size: 15px;
    color: gray;
    font-weight:bold ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.menu1>ul>li:hover a{
    border-bottom: none; 
    color: red; 
    text-decoration: none;
}
.menu1{
    float: right;
    width: 100%;
    margin-left: 45%;
    margin-top: 0px;
   
}

.mm{
    width: 80%;
    margin: 0 auto;
}
.info{
    float: left;
    width:40%
    
  
}
.info1{
    width: 40%;
    float: right;
}
.info1>h6{
    text-align: right;
}
.info1>p{
    text-align: right;
}
.hinh{
    margin-top: 40px;
    width: 100%;
    position: relative;
}
.ctsp{
    background-color: rgba(27, 26, 25, 0.664);
    width: 92%;
    position: absolute;
    bottom: 0;
    left: 10;
}

.ten{
    color: orange;
    padding-left: 10px;
}
.ctsp>h6{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 1300px) {
    
}

@media only screen and (max-width: 992px) {
    .ctsp{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .ctsp{
        display: none;
    }
}

